<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="lokn.spring"/>

    <bean name="school" class="lokn.spring.pojo.School">
        <property name="name" value="xxxx大学"/>
        <property name="address" value="广东省广州市"/>
    </bean>

    <bean name="factoryBean" class="lokn.spring.factory.MyFactory" factory-method="getFactoryBean"/>

    <bean name="myInstance" class="lokn.spring.factory.MyInstance"/>
    <bean name="instanceBean" factory-bean="myInstance" factory-method="getInstanceBean"/>

</beans>